//Microsoft Developer Studio generated resource script.
//
//
#include "resource.h"


/////////////////////////////////////////////////////////////////////////////
//
// Data
//

ID_ICON ICON "inoah.ico"

IDR_HELLO_MENUBAR RCDATA
BEGIN
	IDR_MENU_MENU1,
	2,
	I_IMAGENONE, ID_LOOKUP, TBSTATE_ENABLED, 
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_LOOKUP, 0, NOMENU,

	I_IMAGENONE, ID_MENU_BTN, TBSTATE_ENABLED, 
	TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
	IDS_MENU_BTN, 0, 0,
END

IDR_RECENT_MENUBAR RCDATA
BEGIN
	0,
	2,
	I_IMAGENONE, ID_SELECT, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_SELECT, 0, NOMENU,

	I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_CANCEL, 0, NOMENU,
END

IDR_REGISTER_MENUBAR RCDATA
BEGIN
	0,
	2,
	I_IMAGENONE, IDM_REGISTER, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_REGISTER, 0, NOMENU,

	I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_CANCEL, 0, NOMENU,
END



/////////////////////////////////////////////////////////////////////////////
//
// Menubar
//

IDR_MENU_MENU1 MENU DISCARDABLE 
BEGIN
    POPUP "&Dummy"
    BEGIN
        MENUITEM "Random word",              	IDM_MENU_RANDOM
        MENUITEM "Recent lookups",              IDM_MENU_RECENT
        MENUITEM "Compact view",                IDM_MENU_COMPACT
        MENUITEM "Register",                    IDM_MENU_REGISTER
	POPUP "Font size"
	BEGIN
		MENUITEM "Large",            	IDM_FNT_LARGE
		MENUITEM "Standard",            IDM_FNT_STANDARD
		MENUITEM "Small",            	IDM_FNT_SMALL
	END
#ifdef DEBUG
		MENUITEM "Clear cache",         IDM_CACHE
#endif
        MENUITEM "Quit",                IDOK
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_LOOKUP          "Lookup"
    IDS_MENU_BTN        "Menu"
    IDS_SELECT		    "Lookup"
    IDS_CANCEL		    "Cancel"
    IDS_REGISTER		"Register"

END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_RECENT DIALOG DISCARDABLE  4, 4, 80, 70
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "System"
BEGIN
    LISTBOX IDC_LIST_RECENT,0,2,100,88,
		    LBS_NOTIFY | LBS_STANDARD | NOT LBS_SORT | 
		    WS_TABSTOP | NOT WS_BORDER
END

IDD_REGISTER DIALOG DISCARDABLE  4, 4, 80, 70
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "System"
BEGIN
    CTEXT "Enter registration code:",IDC_STATIC, 0, 25, 100, 10
    EDITTEXT IDC_EDIT_REGCODE, 2, 47, 96, 10,
        ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
END

